version: "3.9"
volumes:
  export:
  data:

services:
  ipfs:
    # generate and get peer identity first:
    # docker-compose up -d ipfs
    # docker-compose logs
    # ... peer identity: 12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    # replace the following 12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx0
    # /ip4/127.0.0.1/tcp/3001/ws should be changed to /dns4/node0.example.com/tcp/443/wss
    image: ipfs/go-ipfs:master-2021-11-23-c00065c
    #restart: always
    ports:
      - "4001:4001"
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:4005:4005"
    volumes:
      - type: volume
        source: export
        target: /export
      - type: volume
        source: data
        target: /data/ipfs
      #- type: bind
        #source: .
        #target: /tmp

  unamed-network:
    build: .
    image: unamed-network:0.0.1
    depends_on: [ipfs]
    #restart: always
    environment:
      KNOWN_SERVICE_ADDRS: '/ip4/127.0.0.1/tcp/3001/ws/p2p/12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx0'
      SERVICE_NODE_IPFS_API: http://ipfs:5001
      SERVICE_NODE_ID: '12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx0'
      PROVIDING_ICE_SERVERS: ''
      SERVICE_NODE_ADDRS: '/ip4/127.0.0.1/tcp/3001/ws/p2p/12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx0'
    ports:
      - "127.0.0.1:3001:3001"

  #ipfs-tmp:
    ## generate peer identity:
    ## docker-compose run --rm ipfs-tmp
    ## ... peer identity: 12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    ## ^C to stop and replace 12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1
    ## /ip4/127.0.0.1/tcp/3002/ws should be changed to /dns4/node1.example.com/tcp/443/wss
    #image: ipfs/go-ipfs:master-2021-11-23-c00065c

  #unamed-network-1:
    #build: .
    #image: unamed-network:0.0.1
    ##restart: always
    #environment:
      #KNOWN_SERVICE_ADDRS: '/ip4/127.0.0.1/tcp/3001/ws/p2p/12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx0,/ip4/127.0.0.1/tcp/3002/ws/p2p/12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1'
      #SERVICE_NODE_ID: '12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1'
      #PROVIDING_ICE_SERVERS: ''
      #SERVICE_NODE_ADDRS: '/ip4/127.0.0.1/tcp/3002/ws/p2p/12D3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1'
    #ports:
      #- "127.0.0.1:3002:3001"
