
// defaultFirstAddr: first known addr to connect, basically your wss node address
export const defaultFirstAddr = 'ws://localhost:8000';

export const baseIceServers = [{urls: 'stun:stun.l.google.com:19302'}];
